@page "/navigation2"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>Location Changing Events Demo</h3>

<button @onclick="MakeUnsavedChange">Make Unsaved Change</button>
<button @onclick="MakeSavedChange">Make Saved Change</button>
<p>@(hasUnsavedChanges ? "You have unsaved changes!" : "All changes saved.")</p>
<a @onclick="GoToHome" class="btn btn-outline-primary me-2">Go to Home</a>
<a @onclick="GotoCounter" class="btn btn-outline-primary">Go to Counter</a>


@code {
	private IDisposable? locationChangingRegistration;
	private void GotoCounter()
	{
		Navigation.NavigateTo("/counter");
	}

	private void GoToHome()
	{
		Navigation.NavigateTo("/");
	}

	private bool hasUnsavedChanges = false;

	protected override void OnInitialized()
	{
	 locationChangingRegistration=	Navigation.RegisterLocationChangingHandler(OnLocationChanging);
	}

	private void MakeUnsavedChange()
	{
		hasUnsavedChanges = true;
	}
	private void MakeSavedChange()
	{
		hasUnsavedChanges = false;
    }
	

	private async ValueTask OnLocationChanging(LocationChangingContext context)
	{
		if (hasUnsavedChanges)
		{
			bool userWantsToLeave = await JS.InvokeAsync<bool>("confirm",
				"You have unsaved changes. Do you really want to leave?");

			if (!userWantsToLeave)
			{
				context.PreventNavigation(); // Stop the navigation
			}
		}
	  //return ValueTask.CompletedTask;
	}

	

	[Inject] IJSRuntime JS { get; set; }

	public void Dispose()
	{
		// Clean up when component is destroyed
		locationChangingRegistration?.Dispose();
	}
}